<div class="process-table" v-loading="loading1">
    <div class="chart-block">
        <div id="myChart1" style="width:100%;min-width:600px;height:480px; margin-left: 20px;"></div>
    </div>
    <div class="chart-block">
        <div id="myChart2" style="width:100%;min-width:600px;height:480px; margin-left: 20px;"></div>
    </div>
    <div class="chart-block">
        <div id="myChart3" style="width:100%;min-width:600px;height:480px; margin-left: 20px;"></div>
    </div>
    <div class="chart-block">
        <div id="myChart4" style="width:100%;min-width:600px;height:480px; margin-left: 20px;"></div>
    </div>
    <div class="chart-block">
        <div id="myChart5" style="width:100%;min-width:600px;height:480px; margin-left: 20px;"></div>
    </div>
</div>
